.contain {
  position: relative;
  top: 60px;
}

.btn {
  background-color: #e50914;
  color: white;
}

.poster {
  max-width: 110px;
  max-height: 160px;
}
/* .details {
  max-height: 150px;
  overflow: hidden;
} */
.details h3 {
  color: white;
}
.details p {
  color: white;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
